/* Scanner */
.scanner-active {
  background: rgba(0, 0, 0, 0.8);
}

.scanner-active::after {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px; /* Adjust the size of the scanning box */
  height: 250px;
  transform: translate(-50%, -50%);
  border: 3px solid #00ff00; /* Green border */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  z-index: 9999;
}
